.NavBar {
    position: fixed;
    color: white;
    top: 0;
    background: #ff7626;

    min-height: 50px;
    padding: 0 15px;
    width: 100%;
    z-index: 10;
}

.NavBar a {
    display: inline-block;
    color: white;
    margin: 15px 5px;
    text-decoration: none;
}

.NavBar a:hover {
    text-decoration: underline;
}
