.snapshots-detach{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.snapshots-detach a {
    color: #ff7408;
}

.snapshots-detach .active {
    color: #ff7408;
    font-weight: bold;
}